body {
  background-color: whitesmoke; }

.fz-18 {
  font-size: 18px; }

.fz-25 {
  font-size: 25px; }

.fn-weight {
  font-weight: 900; }

.block_shadow {
  background-color: white;
  box-shadow: 0 0 9px paleturquoise; }

.header {
  margin: 0 auto;
  display: block; }
  .header__content {
    width: 100%;
    height: 100%; }
  .header__title {
    text-align: center;
    padding-top: 10px; }
  .header__title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 30px; }
  .header__title-content {
    width: 300px; }

.content-main {
  display: block; }
  .content-main__post {
    width: 100%;
    height: 100%;
    margin-top: 20px; }
  .content-main__post-title {
    padding: 20px 0 10px 20px; }
  .content-main__post-text {
    padding: 10px 10px 20px 30px; }

.footer {
  display: block; }
  .footer__content {
    text-align: center;
    padding: 35px 0 0 0;
    width: 100%;
    height: 70px;
    margin-top: 20px; }
