
$main-color: whitesmoke;
$block-shadow-color: white;
$block-shadow: 0 0 9px paleturquoise;

@mixin size-block($width, $height) {
  width: $width;
  height: $height;
}

@mixin margin-block($margin) {
  margin: $margin;
}

@mixin display-container($type) {
  display: $type;
}

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: $main-color;
  font: 100%/1.5em Arial, Helvetica, sans-serif;
  // @media only screen and (max-width: 1500px) {
  //   background-color: blue;
  // }
}

.fz-18 {
  font-size: 1.25em;
  
}

.fz-30 {
  font-size: 1.875em;
}

.fn-weight {
  font-weight: 900; 
}

.block_shadow {
  background-color: $block-shadow-color;
  box-shadow: $block-shadow;
}

.header {
  @include display-container(block);
  @include margin-block(20px);

  &__content {
    @include size-block(100%, 100%)
  }

  &__title {
    text-align: center;
    padding: 10px 10px 10px 10px;
  }
  &__title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0 25px 0;
    width: 100%;
  }
  &__title-content {
    width: 17em;
  }
}

.content-main {
  @include display-container(block);
  @include margin-block(20px);
  &__post {
    @include size-block(100%, 100%)
  }
  &__post-title {
    padding: 20px 0 10px 20px
  }
  &__post-text {
    padding: 10px 40px 20px 40px;
  }
}

.footer {
  @include display-container(block);
  @include margin-block(20px);
  &__content {
    text-align: center;
    padding: 50px 0 50px 0;
    @include size-block(100%, 100%);
  }
}

